body
{
    width: 800px;
    height: 570px;
    background-image: url("images/background.jpg");
    background-size: 100% auto;
    background-color: #fff;
}



hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
  }

@keyframes blink {
    50% { border: #464646af solid 1px; }
}
.blink-red-10 {
    animation: blink .7s step-end 10 alternate;
}

.blink-red-5 {
    animation: blink .7s step-end 5 alternate;
}

/* Tabs START */
.nav-tabs > li > a
{
    border: 1px solid #ccc !important;
}

.tab-pane
{
    width: 100%;
}

.half-panel
{   
    vertical-align: top;
    width: 50%;    
}

.half-panel-no-padding
{
    vertical-align: top;
    width: 50%;
}

.content-panel {
    height: 450px;
}

.copyright-panel {
    height: 36px;
}

.half-panel .full-input-width
{
   width: 353px;
}

.full-border
{
    border: 120px solid rgb(0, 60, 255);
}

.trb-border
{
    border-top: 12px solid #ccc;
    border-right: 12px solid #ccc;
    border-bottom: 12px solid #ccc;
}

.rbl-border
{
    border-right: 12px solid #ccc;
    border-bottom: 12px solid #ccc;
    border-left: 12px solid #ccc;
}

.rb-border
{
    border-right: 12px solid #ccc;
    border-bottom: 12px solid #ccc;
}

/* Tabs END */




/* Spoiler START */

/*height is dependent how many html element are top of the table*/
/*we need height to get the scroll if content overflows*/
.spoiler-list-container
{
    size: 10pt;
    height: 285px;
    overflow: auto;
}

#spoiler-text {
    font-size: larger;
    width: 353px;
}

#spoiler-header-text {
    font-size: larger;
    width: 240px;
}


/* Spoiler END */

/* Spoiler category START */

/*height is dependent how many html element are top of the table*/
/*we need height to get the scroll if content overflows*/
.category-list-container
{   
    font-size: larger;
    height: 260px;
    overflow: auto;    
}

ul.ui-autocomplete {
    max-width: 370px;
    max-height: 406px;    
    overflow: auto;
}

ul.ui-autocomplete li{
    border-bottom: 1px solid grey;
}

#category-selector {
    width: 228px;
}

#category-name
{   
    font-size: larger;
    width: 136px;
}

.edit-category-spoiler
{
    height: 250px !important;
    width: 388px;
}

#spoiler-category-edit-table .selectize-control
{
    width: 103px;
}

.import-select {
    width: 287px;
}   


/* Spoiler category END */

/* Spoiler context list START */

/*height is dependent how many html element are top of the table*/
/*we need height to get the scroll if content overflows*/
.spoiler-context-list-container
{
    height: 288px;
    overflow: auto;
}


.description-text {
    padding: 5px 5px 5px 5px;
    text-align: justify;
}

/* Spoiler context list END */

/* White list list START */




.white-list-container {
    height: 376px;
    overflow: auto;    
}

/* White list list END */


